################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GeoIpApi
/bin
/Data
/obj
/Properties/PublishProfiles
/GeoIpApi.csproj.user
